<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <add name="Python1" path=".py" verb="*" modules="CgiModule" scriptProcessor="C:\Users\ajesuraj\AppData\Local\Programs\Python\Python36-32\python.exe" resourceType="File" />
            <add name="Python" path=".py" verb="*" modules="CgiModule" scriptProcessor="C:\Users\ajesuraj\AppData\Local\Programs\Python\Python36-32\python.exe %s %s" resourceType="File" />
        </handlers>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
